{% extends 'base.html.twig' %}

{% block title %}New Checkin{% endblock %}

{% block body %}
    <h1>Create new Checkin</h1>

    {{ include('checkin/_form.html.twig') }}

    <a href="{{ path('app_checkin_index') }}">back to list</a>
{% endblock %}
