{% extends 'base.html.twig' %}

{% block title %}Liste de l'Electromenager{% endblock %}

{% block body %}

    {% for poubelle in appartement.poubelles %}
    <table class="table">
        <tr>
            <td>{{ poubelle.nom }}</td>
            <td>{{ poubelle.photo}}</td>
            <td>{{ poubelle.description}}</td>
        </tr>           
    </table>          
    {% else %}
    <p>Pas de poubelle</p>
    {% endfor %}

{% endblock %}
