{% extends 'base.html.twig' %}

{% block title %}Wifi{% endblock %}

{% block body %}
    <div class=" mt-5">
        <div class="text-center">
            <img  src= {{asset('assets/picture/icon/wifi-white.png')}} width="50px">
            <p class="color-white font-1 bold-700 no-margin">WIFI</p>
        </div>
        <div class="container">
            <div class="div-50 margin-auto">
                <p class="bold-700 font-2 color-bluelight">Nom du wifi :</p>
                <div class="shadow-container text-center">
                    <p class="nmt nmb color-yellow bold-600 font-1">{{ wifi.nom }}</p>
                </div>
                <p class="bold-700 font-2 color-bluelight">Clé du wifi :</p>
                <div class="shadow-container text-center">
                    <p class="nmt nmb color-yellow bold-600 font-1">{{ wifi.mdp }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
