 body{
    background-image: url("http://127.0.0.1:8000/assets/picture/black.jpg");
    background-size: cover;
    font-family: 'Montserrat';
    margin: 0;
    scroll-behavior: smooth;
}

.color-white{color: #FFFFFF;}

.color-yellow{color: #EBA822;}

.color-bluelight{color: #30459B;}

.color-blue{color: #243061;}

.bg-white{background-color: #FFFFFF;}

.bg-yellow{background-color: #EBA822;}

.bg-bluelight{background-color: #30459B;}

.bg-blue{background-color: #243061;}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.same-line{
    display: flex;
}

.img-carre{
    object-fit: contain;
}

.margin-auto{
    margin: auto;
}

.item-center{
    align-items: center;
}

.no-margin{
    margin: 0;
}

.text-left{
    text-align: left;
}

.display-block{
    display: block;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.button-accueil{
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    width: 160px;
    cursor: pointer;
    font-size: 1.1em;
}

.button-accueil:hover{
    background-color: #000000;
    transform: scale(1.1);
}

.container{
    border-radius: 20px;
    width:1000px;
    margin:100px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

.div-50{
    width: 60%;
}

.nmb{
    margin-bottom: 0;
}

.nmt{
    margin-top: 0;
}

.shadow-container{
    box-shadow: 1px 1px 12px #000000;
    border-radius: 20px;
    width:600px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    margin-bottom: 50px;
}

.prev-button{
    opacity: 0.4;
    transition: all 0.3s ease;
}

.prev-button:hover{
    transform: scale(1.1);
    opacity: 1;
}

.button-page{
    background-color: #EBA822;
    color: #30459B;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    width: 160px;
    cursor: pointer;
    font-size: 1.1em;
}

.button-page:hover{
    transform: scale(1.1);
}

.opt{
    padding-bottom: 41px;
}