{% extends 'base.html.twig' %}

{% block title %}Guide So'SerenityHome{% endblock %}

{% block body %}
    <div class="mt-10">
        <div class="text-center">
            <img src= {{asset('assets/picture/logo.png')}} width="100px">
            <p class="color-white bold-800 font-2">Bienvenue dans l'appartements YELLOW HOME</p>
            <p class="color-white">Nous vous souhaitons un agréable séjour, dans les appartements au coeur de la Haute Savoie proposé par So'SerenityHome</p>
        </div
    </div>
{% endblock %}