{% extends 'base.html.twig' %}

{% block title %}Liste de l'Electromenager{% endblock %}

{% block body %}

    {% for electromenager in appartement.electromenagers %}
    <table class="table">
        <tr>
            <td>{{ electromenager.nom }}</td>
            <td>{{ electromenager.lien}}</td>
            <td>{{ electromenager.description}}</td>
        </tr>           
    </table>          
    {% else %}
    <p>Pas d'electromenager</p>
    {% endfor %}

{% endblock %}
