{% extends 'base.html.twig' %}

{% block title %}Wifi{% endblock %}

{% block body %}
<div style="background-color:#FFFFFF;">
    <h1>Wifi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Appartement</th>
                <td>{{ appartement.nom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ wifi.nom }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ wifi.mdp }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
